---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
import CountryCard from '../components/CountryCard.astro';
import { mapToCountry } from '../helpers/map-to-country';
import DISH_LIST from '../../assets/dish.json';
import type { Dish } from '../helpers/types';
import { groupByCountry } from '../helpers/group-by-country';
import { getDishTypes } from '../helpers/get-dish-types';
import DishType from '../components/DishType.astro';

const scratched: Dish['name'][] = ['Bacalao', 'Pasteis de nata', 'Chorizo'];

const countryDishesMap = groupByCountry(DISH_LIST as Dish[]);
const dishTypes = getDishTypes(DISH_LIST as Dish[]);
---

<Layout title="Welcome to Astro">
  <main class="container mx-auto px-4 my-8">
    <div class="mx-auto">
      <Map scratched={scratched} />
    </div>

    <ul class="flex items-center justify-around space-x-4 p-2">
      {dishTypes.map((type) => <DishType type={type} />)}
    </ul>

    <ul class="flex items-center justify-around space-x-4 p-2">
      {
        Object.entries(countryDishesMap).map(([code, dishes]) => (
          <CountryCard
            country={mapToCountry(code)}
            scratched={scratched}
            dishes={dishes}
          />
        ))
      }
    </ul>
  </main>
</Layout>
